<div class="container text-center py-5">
    <div class="row text-center py-5">
    <div class="col-4 offset-lg-2 text-center py-5">
            <img src="../../assets/student.jpg" alt="">
        <br>
        <button class="bg-primary border border-primary text-light py-2 my-3" [routerLink]="['/studentlist']">STUDENT</button>
</div>
    <div class="col-4 text-center py-5">
        <img src="../../assets/teacher.jpg" alt="">
        <br>
        <button class="bg-success border border-success text-light py-2 my-3" [routerLink]="['/teacherlist']">TEACHER</button>
    </div>
    </div>
</div>
